{% extends "base.html" %}

{% block title %} Página no encontrada {% endblock %}

{% block content %}

  <section id="banner">
    <h2><strong>Error 404, página no encontrada.</strong> <br></h2>
  </section>

{% endblock %}
