{% extends 'base.html' %}

		{% block title %} Busqueda de la mascota {% endblock %}

		{% block content %}

		<section class="wrapper special">
			<div class="inner narrow">
				{% if result %}
				<h2 id="elements">Resultado</h2>
				<div class="table-wrapper">
					<table class="alt">
	          <thead>
	            <tr>
	            </tr>
	          </thead>
	          <tbody>
	            <tr>
								<td> <img src="data:;base64,{{ image }}" alt="Imagen no encontrada"> </td>
							</tr>
							<tr>
	              <td> Nombre: {{ result.name }} </td>
								</tr>
								<tr>
	              <td> Animal: {{ result.animal }} </td>
								</tr>
								<tr>
	              <td> Años: {{ result.age }} </td>
								</tr>
							<tr>
	              <td> Dueño: {{ result.owner }} </td>
	            </tr>
	          </tbody>
        	</table>
      	</div>
    	</div>

			{% else %}
				<h2 id="elements">Lo sentimos, no hemos encontrado resultados para {{ owner }} :(</h2>
			{% endif %}

		</section>

		<section class="wrapper special">
			<div class="inner narrow">
				<a href="/index" class="button special">Volver al inicio</a>
			</div>
		</section>

    {% endblock %}
