{% extends 'base.html' %}

{% block title %} Registro exitoso {% endblock %}

{% block content %}
  <section id="banner">
    <p> Hola {{ owner }} </p>
    <p>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li> {{ message }} </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </p>
  </section>

  <section class="wrapper special">
    <div class="inner narrow">
      <a href="/index" class="button special">Volver al inicio</a>
    </div>
  </section>

{% endblock %}
